<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css" />

    <link href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>

</head>

<body>
    <div th:replace="~{layout/appBar :: appBar}" />

    <div id="app-body">
        <div th:replace="~{layout/navigation :: navigation}" />

        <div id="app-content" layout:fragment="content">

        </div>
    </div>

</body>

</html>