<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css" />
</head>

<body>
    <div id="app-header">
        <div>
            <span>Meal Planner</span>
        </div>
        <div>
            <ul>
                <li><span>Menu Item 1</span></li>
                <li><span>Menu Item 1</span></li>
                <li><span>Menu Item 1</span></li>
                <li><span>Menu Item 1</span></li>
            </ul>
        </div>
    </div>
    <div id="app-body">
        <div id="side-bar">
            <ul>
                <li><div>Meal Plans</div></li>
                <li><div>Recipes</div></li>
                <li><div>Ingredients</div></li>
            </ul>
        </div>

        <div id="page-content">
            <p>This is test content on this page</p>
        </div>

    </div>
</body>

</html>