<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<body>
    <div layout:fragment="content" class="flex flex-column flex-gap-16">
        <div id="app-bar" class="flex flex-row flex-justify-end">
            <md-filled-button>
                <svg slot="icon" width="24" height="24" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M19 13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                </svg>
                Create New Ingredient
            </md-filled-button>
        </div >

        <div id="page-content" class="flex flex-column flex-gap-16" th:each="ingredient : ${ingredients}">


            <div class="ingredient-card flex flex-row flex-space-between flex-row-horizontal-center">
                <span class="ingredient-title" th:text="${ingredient.name + ' - ' + ingredient.unitSize + ' ' + ingredient.measurementUnit}">Pasta - 100g</span>
                <div class="flex flex-row flex-gap-16">
                    <span th:text="'Calories: ' + ${ingredient.caloriesPerUnit}">Calories: 100</span>
                    <span th:text="'Proteins: ' + ${ingredient.proteinsPerUnit}">Protein: 12g</span>
                    <span th:text="'Carbohydrates: ' + ${ingredient.carbohydratesPerUnit}">Carbohydraes: 40g</span>
                    <span th:text="'Fats: ' + ${ingredient.fatsPerUnit}">Fats: 2g</span>
                    <span th:text="'Fibre: ' + ${ingredient.fibrePerUnit}">Fibre: 0.3g</span>
                </div>
            </div>

        </div> <!-- Page Content -->
    </div>
</body>

</html>