html, body {
    height: 100%;
}

html, body, div, ul, li, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: start;
    background-color: rgb(11, 109, 189);
}

#app-bar {
    height: 64px;
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

#app-bar ul li {
    display: inline;
    margin-left: 8px;
}

#app-bar ul li span {
    background-color: rgb(145, 174, 190);
    border-radius: 8px;
    padding: 8px;
}

#app-bar ul li span:hover {
    background-color: rgb(91, 121, 138);
    cursor: pointer;
}

#app-body {
    height: 100%;
    display: flex;
    flex-direction: row;
}

#app-content {
    background-color: white;
    flex-grow: 1;    
    border-radius: 16px 0px 0px 0px;
    padding: 32px;
    box-shadow: -2px -2px 20px -1px rgba(87, 87, 87, 0.253);
}

#app-navigation {
    width: 250px;
}

#app-navigation ul li div {
    background-color: rgb(206, 206, 206);
    height: 56px;
    margin: 16px 32px 16px 0;
    padding-left: 64px;
    align-content: center;
    border-radius: 0px 64px 64px 0px;
}

#app-navigation ul li div:hover { 
    background-color: rgb(116, 141, 255);
    cursor: pointer;
}

.ingredient-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightblue;
    padding: 32px 32px;
    border-radius: 8px;
    margin: 16px 0px;
}

.ingredient-card:hover {
    background-color: rgb(195, 231, 243);
}

.ingredient-card div span {
    margin-left: 32px;
}