html, body {
    height: 100%;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

html, body, div, ul, li, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    background: var(--md-sys-color-background);
}

#app {
    height: 100vh;
    overflow: hidden;
}
