
#app-navigation {
    width: 280px;
    height: 100vh;
    padding-top: 16px;
    padding-left: 16px;
    background-color: var(--md-sys-color-surface-container);
    overflow: hidden;
}

.navigation-button {
    width: calc(100% - 32px);
    /* margin-left: 16px; */
    /* margin-right: 16px; */
    padding: 16px;
    border-radius: 64px;
    border: 0;
    height: 56px;
    
}

.navigation-button:hover {
    cursor: pointer;
    background-color: var(--md-sys-color-surface-variant);
}

.inactive {
    background-color: var(--md-sys-color-surface-container);
}

.active {
    background-color: var(--md-sys-color-secondary-container);
}

.navigation-button span {
    font-family: 'Google Sans Text';
    font-size: 12pt;
    font-weight: 500;
    color: var( --md-sys-color-secondary);
}

.navigation-icon {
    fill: var(--md-sys-color-on-secondary-container);
    height: 24px;
    width: 24px;
}

