<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" th:href="@{/css/main.css}" href="../../static/css/main.css" />
  <link rel="stylesheet" th:href="@{/css/login.css}" href="../../static/css/login.css" />
  <link rel="stylesheet" th:href="@{/css/reset.css}" href="../../static/css/reset.css" />
  <link rel="stylesheet" th:href="@{/css/materialTheme.css}" href="../../static/css/materialTheme.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

  <script type="importmap">
      {
        "imports": {
          "@material/web/": "https://esm.run/@material/web/"
        }
      }
  </script>

  <script type="module">
    import "@material/web/all.js";
    import { styles as typescaleStyles } from "@material/web/typography/md-typescale-styles.js";
    document.adoptedStyleSheets.push(typescaleStyles.styleSheet);
  </script>
</head>

<body>
  <div class="light">
    <div id="login-container">
      <div id="login-image-container">
        <img src="https://www.naturemade.com/cdn/shop/articles/how-to-eat-healthy_960x.jpg" alt="foodImage" />
      </div>

      <div id="login-form-container">
        <form th:action="@{/login}" method="post">
          <md-outlined-text-field label="Email" type="email" name="username" autocomplete="email" required></md-outlined-text-field>
          <md-outlined-text-field label="Password" type="password" name="password" autocomplete="current-password" required></md-outlined-text-field>
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <md-filled-tonal-button type="submit">Login</md-filled-tonal-button>
          <a href="/signup">Register</a>
        </form>
      </div>
    </div>
  </div>
</body>

</html>